@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  max-width: 100%;
  margin: 0px auto;

}
.display-none{
  display: none;
}

/* Nav-bar */

.banner-color {

  background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 120%);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.nav-container {
  width: 80%;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.name-web {
  font-weight: 800;
  font-size: 40px;
  color: rgb(230, 83, 60);
}

.nav-button {
  margin-right: ;
  border: 1px solid rgb(82, 80, 80);
  display: flex;
  justify-content: center;
  padding: 10px 7px;
  border-radius: 39px;
}

.nav-button li {
  list-style: none;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
}

.nav-menu {
  text-decoration: none;
  color: aliceblue;
}

.nav-menu1 {
  color: aliceblue;
  text-decoration: none;

  border-radius: 46px;
  padding: 6px 10px;

  background: rgb(230, 83, 60);
  position: static;
  width: 52px;
  height: 22px;
}

#nav-hambar {
  display: none;
  color: white;
  font-size: 1.25rem;
}


/* Banner-section */
.banner-contrainer {
  width: 80%;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

.title {

  position: static;
  width: 520px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28;
  padding: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 71px 0px;
}

.title h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 50px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 20%;
  text-align: left;
  padding-right: 30px;
  letter-spacing: 1px;


}

.title p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 15px;

}

.title span {
  font-family: "Grey Qo", cursive;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 1px;
    

}

.banner-button {
  display: flex;
  color: aliceblue;
  justify-content: flex-start;
  align-items: start;
  padding: 10px;

}

.banner-button a {
  box-sizing: border-box;

  border-radius: 42px;
  margin: 0px 14px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  padding: 14px 38px;
}


.banner-button1 {
  border: .5px solid rgb(230, 83, 60);
  background-color: rgb(230, 83, 60);

}

.banner-button2 {
  border: .5px solid whitesmoke;
}

.banner-photo {
  position: relative;
}

.banner-photo img {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding-left: 210px;
}


.five-box {
  width: 192px;
  height: 83px;
  color: #ffffff;
  position: absolute;
  top: 165px;
  right: -100px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.five-font {

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;




}

.five-pera {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}

.three {
  display: flex;
  width: 213px;
  height: 87px;
  color: #fff;
  padding-top: 1px;
  padding-left: 23px;
  border-radius: 10px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 68px;
  left: 76px;
}

.red-round {
  width: 40px;
  height: 40px;
  background-color: #e63c3c;
  margin-right: 15px;
  border-radius: 60%;
  margin-top: 30px;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.red-icon {
  display: none;
}

.red-font {
  margin-top: 20px;

}

.redh {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

/* habits section */
.habit-section {
  background-color: rgb(0, 0, 0);
}

.habit-contrainer {
  width: 80%;
  margin: 0px auto;
}

.habit-contrainer h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 25px;

}

.habit-contrainer p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
}
.habit-poster{
  width: 100%;
}

.poster1 img {
  border-radius: 50%;


}

.poster1 h2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 62px;
  padding-top: 25px;

}

.poster1 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  justify-items: center;
  padding-right: 54px;
  padding-top: 10px;

}

/* Run an Extra 
Mile Easily section */

main {
  background-color: rgb(0, 0, 0);
}
.run-section{
  width:100%;
  background-color: rgb(0, 0, 0);
}

.run-contrainer {
  width: 80%;
  margin: 0px auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.run-content {
  padding: 26px 38px;
  width: 443px;
  height: 290px;
  left: 54px;
  top: 41px;
  margin-top: 40px;
  margin-bottom: 50px;


}

.run-content h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 10px;

}

.run-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  padding-bottom: 30px;
}

.run-content a {
  
  margin-top: 25px;
  box-sizing: border-box;
  border-radius: 42px;
  margin left: 14px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  padding: 18px 70px;
  border: .5px solid rgb(230, 83, 60);
  background-color: rgb(230, 83, 60);


}


.run-img img {
    margin-left: 156px;
  padding: 15px 15px;
  width: 366px;
  height: 312px;
  left: 662px;
  top: 30px;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

/* BMI Sec */

.calc-section {
  background-color: black;
}

.calc-container {
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
  margin: 0px auto;
  padding-top: 50px;
  justify-items: ;
}

.calc-heading {
  width: 40%;
  margin-bottom: 60px;
  margin: 0px auto;
}

.calc-head {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 16px;
  font-weight: 900;
}

.calc-para {
  margin-bottom: 50px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.calc-table {
  display: flex;
  width: 100%;
  margin: 0px auto;
  background-color: limegreen;
  background: rgb(34, 34, 34);
}

.clac-chart {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;

}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 13px 35px;
  border-color: rgba(255, 255, 255, 0.5);
}

th {
  font-size: 1rem;
  text-align: start;
  font-weight: 500;
  color: #ffffff;
}

.chart-head {
  font-size: 1.75rem;
  margin-left: -40px;
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: 900;
}

.cal-BMI {
  padding-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}

.cal-head {
  width: 60%;
}

.cal-heading {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 25px;
  color: #ffffff;
}

.cal-para {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;

}

.BMI-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;

}

.input {
  padding: 20px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, .08);
  color: rgba(255, 255, 255, 0.5);
}

#select {
  grid-column: span 2;
  margin-top: 8px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, .08);
  color: rgba(255, 255, 255, 0.5);
}

.cal-btn {
  background-color: #E6533C;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
  padding: 15px 40px;
  border: none;
  font-size: 1.12rem;
  margin-top: 40px;
}



/* <!--tream section--> */
.tream-section {
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
}

.tream-contrainer {
  width: 80%;
  margin: 0px 115px;

}

.tream-contrainer h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 25px;

}

.tream-contrainer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tram-details img {
  background-color: rgba(255, 255, 255, 0.1);
  width: 326px;
  height: 272px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  padding: 7px 7px;
}

.tram-details h4 {
  font-size: 25px;
  color: #fff;
}

.tream-section span {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  ;
}

.tream-pera {
  position: absolute;
  z-index: 2;
  margin: -82px 16px;
}

.tram-details {
  position: relative;
}

/* <!--GAllary Section--> */

.gellary {
  background: #464946;
  margin-top: 70px;

}

figure {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: stretch;
  align-items: stretch;
  gap: 2svmin;
}

.gallarypic img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}


.gh1 h1 {
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Grey Qo", cursive;
  background-color: rgb(0, 0, 0, 1);
  letter-spacing: 5px;
  border-top: #8A2BE2 0.5px solid;

}

.gh1::first-letter {
  font-size: 200%;
  color: #8A2BE2;
}


/* Footer*/

.footer-section {
  background: #1A1A1A;
}

.footer-container {
  width: 80%;
  margin: 0px auto;
  justify-content: start;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer {
  display: flex;
}

.footer-left {
  width: 50%;
  margin-bottom: 50px;
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-left: 100px;
}

.footer-left h2 {
  font-size: 4rem;
  color: #E6533C;
}

.footer-text {
  width: 100%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;

}

.footer-col-1 {
  max-width: 100%;
}

.footer-col-1 h4 {
  margin-top: 15px;
  width: 100%;
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  margin-right: 70px;
}

.footer-col-2 {
  max-width: 100%;
}

.footer-col-2 h4 {
  margin-top: 15px;
  width: 100%;
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  margin-right: 70px;
}

.footer-sub {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-reserved {
  margin-top: 40px;
  margin-top: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
}




/* Small Device */
@media screen and (max-width: 576px) {
  .banner-row,
  .habit-poster,
  .run-contrainer,
  .tream-card1,
  .tream-card2,
  .calc-table,
  .footer,
  .footer-right{
      flex-direction: column;
      width: 100%;
  }
  .nav-button{
    display: none;
  }
  #nav-hambar {
    display: block;
    font-size: 1.25rem;
  }

  .banner-contrainer{
    width: 100%;
    padding-left: 10px;
  }

  .title{
  width: 100%;
  margin: 50px auto;

  }
  .title h1 {
    font-size: 2.15rem;
    line-height: 50px;
  }
  .title span{
    font-size: 70px;
  }
  .title p {
    font-size: 1.05rem;
    width: 80%;
  }
  .banner-photo img{
    padding-left: 0px;
  }
.banner-button a{
  font-size: 12px;
}
.five-box{
  width: 165px;
  height: 74px;
  top: 52px;
  right: 26px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
.five-font{
  font-size: 30px;

}
.five-pera{
  font-size: 10px;
}
.three{
  width: 180px;
  bottom: 290px;
  left: 20px;
}
.red-font{
  margin-left: 10px;
}
.redp{
  font-size:12px ;
}
.red-icon{
  display: block;
  color: #e63c3c;
  font-size: 30px;
  margin-top: 20px;
}
.red-round{
 display: none;
}


  .habit-contrainer h1{
    font-size: 2.15rem;
  }
  .habit-poster{
    margin: 0px auto;
    justify-content: center;
    align-items: center;
  }
  .poster1 h2{
    text-align: center;
    width: 50%;
    margin-left: 60px;
  }
  .poster1 p{
        margin-left: 60px;
  }
  .poster1 img{
    margin-left: 80px;
  }
.run-contrainer{
  margin-bottom:40px;
  width:95%;

}
.run-section{
  padding: 5px;
}
.run-content{
 padding-left:40px;
 padding-top: 10px;
 margin:20px;
}
.run-content h1{
  font-size: 2.15rem;
}
.run-content p{
  margin-right: 0px;
  font-size: 14px;
 
}
.run-img img {
  width: 100%;
  align-items: center;
  margin-left: 5px;

}

  .calc-heading{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 30px;
}
.calc-head{
    font-size: 2.25rem;
}
.clac-chart{
    width: 100%;
    padding-top: 30px;
}
.chart-head{
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.cal-BMI{
    margin-left: 30px;
}
.cal-head{
    width: 150%;
}
.calculate-heading{
    font-size: 1.5rem;
}
.BMI-form{
    grid-template-columns: repeat(2, 190px);
}
.input{
    padding: 15px;
}
#select{
    padding: 15px;
}
.tream-contrainer{

  margin: 0px auto;
}
.tream-contrainer h1{
  font-size: 2.15rem;
}

  .footer-right{
    width: 100%;
    margin: 0px;
    gap: 50px;
}
.footer-text{
    width: 200%;
    padding-right: 0px;
    line-height: 20px;
}
.footer-left{
    max-width: 100%;
}
.footer-col-1 h4{
    width: 110%;
    font-size: 1.75rem;
    margin-right: 20px;
}
.footer-col-2{
    margin-bottom: 40px;
}
.footer-col-2 h4{
    width: 110%;
    font-size: 1.75rem;
    margin-right: 20px;
}
.footer-sub{
    margin-bottom: 20px;
    font-size: 1.15rem;
}
.footer-reserved{
    font-size: 1rem;
}
}


@media (min-width:576px) {
  figure {
    grid-template-columns: repeat(1, 1fr);
  }

  img:nth-of-type(11) {
    grid-row: span 2 / auto;
  }
}

@media (min-width:1000px) {
  figure {
    grid-template-columns: repeat(4, 1fr);
    gap: 1svmin;
  }

  img:where(:nth-of-type(3), :nth-of-type(12)) {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }

  img:nth-of-type(5) {
    grid-column: span 2 / auto;
  }

  img:nth-of-type(15) {
    grid-column: span 2 / auto;
  }
}
